/*For everything:*/
* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

/* Style the items inside the navigation bar */
.navbar {
  background-color: #5b82cb;
  overflow: hidden;
  text-decoration: none;
  position: fixed; /* Make it stick, even on scroll */
  width: 17%;
  height: 100vh;
  top: 0;
}
  .logo {
    width: 80%;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
  }

  li {
    padding: 12px;
    font-weight: 500;
    font-size: 20px;
  }

  li a {
    color: white;
    text-decoration: none;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }

  /* Change the color to yellow of links on hover */
  a:hover, a.active {
    color: yellow;
  }

#results {
  top: 50px;
  left: 250px;
  position: absolute;
  display: inline-block;
  }
}
.img {
  position: relative;
  transition: all .2s ease-in-out;
}

.img:hover {
  transform: scale(1.5);
}
