/*For everything:*/
* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  position: relative;
}

@import 'Nav';
@import 'Results';
@import 'Partials/Variables';


#navbar:active, #navbar:hover, #navbar:focus {
    left: 0px;
    .container {
      transform: translateX($sidebarWidth);
      transition: all 0.2s;
    }
  }
