/*For everything:*/
* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

/* Change the color to yellow of links on hover */
a:hover, a.active, a:visited {
  color: yellow;
}

@import 'Nav';
@import 'Results';
