// NAVBAR
/* Style the items inside the navigation bar */
#navbar {
  background-color: #5b82cb;
  overflow: hidden;
  text-decoration: none;
  position: absolute; /* Make it stick, even on scroll */
  margin-right: 50px;
  width: 220px;
  height: 100vh;
  top: 0;
  left: -220px;

  z-index: 2;

  transition: top 0.2s ease-in-out;

  .logo {
    width: 80%;
  }

  .toggle {
    text-decoration: none;
    font-size: 2em;
    // color: rgba(0, 0, 0, 0.61);
    color: rgba(255, 0, 0, 1);
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position: fixed;
    top: 40vh;
    left: 100px;
    z-index: 1;
    cursor: pointer;
  }

  &:active, &:hover, &:focus {
    left: 0px;
    .toggle {
      visibility: hidden;
    }
  }


  ul {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
  }

  li {
    padding: 20px;
    font-weight: 500;
    font-size: 20px;

    a {
      color: white;
      text-decoration: none;
    }

    /* Change the color to yellow of links on hover */
    a:hover, a:active, a:focus {
      color: yellow;
    }

  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }

}
