// NAVBAR
/* Style the items inside the navigation bar */
#navbar {
  background-color: #5b82cb;
  overflow: hidden;
  text-decoration: none;
  position: fixed; /* Make it stick, even on scroll */
  width: 220px;
  // width: 17%;
  height: 100vh;
  top: 0;

  .logo {
    width: 80%;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
  }

  li {
    padding: 20px;
    font-weight: 500;
    font-size: 20px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
}
